#wrapper {
 background-image: url("../images/vom.jpg");
  background-color: rgb(01, 01, 01);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: center;
  padding: 0;
}

/* Text-styling */
.heading {
  font-family: "OSPDINDIN", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

h2.heading{
padding-left: 15px;
}

.nav {
  font-family: "OSPDINDIN", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.438em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.lato {
  font-family: "LatoRegular", sans-serif;
  font-size: 1em;
    color: #fff;
}

.osp {
  font-family: "OSPDINDIN", sans-serif;
  font-size: 1em;
    color: #fff;
    text-decoration: none;
}


.uppercase {
  text-transform: uppercase;
}

.card-text {
  font-family: "LatoRegular", sans-serif;
  font-size: 1em;
  background: #333333;
  color: #fff;
  line-height: 1;
}

.text-red {
  color: #ff3333 ;
}
.text-blue {
  color: #0ebde8 ;
}
.text-green {
  color: #33cc99 ;
}
.text-orange {
  color: #f7a71c;
}
.text-purple {
  color: #6a42d0 ;
}
.text-grey {
  color: #aaaaaa !important;
}
/*------------------hovers----*/

a.hover_red:hover {
  color: #ff3333 !important;
}
a.hover_blue:hover {
  color: #0ebde8 !important;
}
a.hover_green:hover {
  color: #33cc99 !important;
}
a.hover_orange:hover {
  color: #f7a71c !important;
}
a.hover_purple:hover {
  color: #6a42d0 !important;
}
a.hover_grey:hover {
  color: #aaaaaa !important;
}

/*------------------backgrounds----*/
.grey {
  background: #333333;
}

.black {
  background: #000;
}

.red {
  background: #ff3333;
}

.white {
  background: #fff !important;
}


/*------------------Alerts------*/
.show-alert-text {
    font-family: "OSPDINDIN", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.alert {
    border-radius: 0px;
}

.alert-warning {
    background-color: #ffd283;
    border-color: #ffd283;
    font-family: "LatoRegular", sans-serif;
    text-justify:  distribute-all-lines;
    color: #333;
}


/*------------------Top----sourced from littleangeltheatre.com------*/

#desk-main-menu {
  font-family: "ospdindin", sans-serif;
  text-transform: uppercase;
}

.top {
  background: #555555;
  width: 100vw;
  height: 315px;
  position: relative;
  padding: 20px;
  text-transform: uppercase;
}
.top .lat-logo {
  position: absolute;
  top: 31px;
  left: 31px;
}
.top ul {
  margin: 0px 0px;
  padding: 0px 0px;
  position: absolute;
  top: 30px;
  left: 271px;
}
.top ul li {
  list-style: none;
  padding: 1px 0px 2px 0;
  margin: 0px 0px;
}
.top ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  line-height: 1;
}

.top-links {
  width: 199px;
  height: 253px;
  position: absolute;
  top: 0px;
  right: 31px;
}
a.book-tickets {
  position: absolute;
  top: 38px;
  right: 0px;
}
a.join-mailing-list {
  position: absolute;
  top: 161px;
  right: 0px;
}
a.donate-to-little {
  position: absolute;
  top: 101px;
  right: 0px;
  font-family: "ospdindin";
  font-size: 31px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
a.diary {
  position: absolute;
  top: 104px;
  left: 0px;
}
a.facebook {
  position: absolute;
  top: 189px;
  left: 0px;
}
a.twitter {
  position: absolute;
  top: 189px;
  left: 53px;
}
a.youtube {
  position: absolute;
  top: 189px;
  left: 105px;
}
a.instagram {
  position: absolute;
  top: 189px;
  right: 1px;
}

a.calendar-top-link {
  position: absolute;
  font-size: 57px;
  line-height: 52px;
  color: #fff;
  font-family: "ospdindin";
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 2px 10px;
}

.top-links strong {
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 199px;
}
.top-links strong a {
  font-family: "ospdindin";
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-weight: normal;
  letter-spacing: 0.6px;
}

.top-links .book-tickets.calendar-top-link:hover {
  opacity: 0.7;
}

.top-links .join-mailing-list:hover {
  opacity: 0.7;
}

.top-links a.facebook:hover,
.top-links a.twitter:hover,
.top-links a.youtube:hover,
.top-links a.instagram:hover {
  opacity: 0.7;
}
/*----end of sourced code----*/
.bar {
  height: 12px;
  width: auto;
  background: #fff;
  position: relative;
  top: 250px;
  padding-right: 30px;
  background: #fff;
  margin-left: 250px;
  margin-right: 15px;
}

.nav {
  background: #555;
}
.nav a {
  color: #fff;
  text-decoration-line: none;
}

/*------------------donate overlay----------------------*/

/*------------------jumbotrons---------------------------*/
.jumbotron { background:rgba(55, 55, 55, 0.9);
  border-radius: 0;
  margin-top: 6.25em
}

.jumbotron.welcome, .jumbotron.shows, .jumbotron.stories, .jumbotron.projects{
  margin-bottom: 30vh;
}

.jumbotron.makes {
  border-radius: 0;
}

/*------------------Trackback links------*/
.trackback-link {
  position: relative;
  width: 1px;
  height: 10px;
}
/*-----------------Shows-------------------*/


.carousel-indicators {
    bottom: -2em;}

/*------------------Stories --- Horizontal scroll --*/

:root {
  --gutter: 20px;
}
.scroll-box {
  display: flex;
  overflow-x: auto;
}

.embed-responsive-item {
    border: 0;
}

/*------------------Projects section---------------------------------*/

.accordion .card-header:after {
    font-family: 'FontAwesome';
    color: #fff;  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
        color: #fff;  
}

.accordion h2.heading {
    padding-left: 0;
}

.accordion .card-header {
    padding: 0rem 0rem; 
    margin-bottom: 0;
    background-color: rgba(0,0,0,.0);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#projects .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #333; 
    background-clip: border-box;
     border: 0; 
     border-radius: 0;
    }

.project-scroll-box {
    overflow-x: auto;
}
/*------------------Activitities section---------------------------------*/

.mail-to a{
    color: #fff;
    text-decoration: none;
    
}
/*------------------filterable CSS---------------------------------*/
/*------------------remove radio buttons*/
#makes input[type="radio"] {
  position: absolute;
  left: -9999px;
}




/*------------------toggle filters --*/
:root {
  --black: #1a1a1a;
  --white: #fff;
  --green: #0ebde8;
}

.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  color: #ffffff;
}

.filters label:hover {
  background: var(--green);
  color: var(--black);
}

:root {
  --black: #1a1a1a;
  --white: #fff;
  --green: #0ebde8;
}

/*------------------filter cards*/
/*------------------card image*/
#makes img {
  width: 100%;
  padding: 2%;
}

/*------------------grid-*/


.posts .post {
  background: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: "LatoRegular", sans-serif;
  font-size: 1em;
  display: inline-block;
}

.posts .card {
    display: inline-block;
}
/*------------------link styling*/
.posts .post a {
  color: #fff;
  font-family: "OSPDINDIN", sans-serif;
}
.posts .post-title {
  font-size: 1.5em;
}

.posts .post-title:hover {
  color: #0ebde8;
  
  
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  justify-content: space-between;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  line-height: normal;
  background: all 0.1s;
}

.posts .post-categories a:hover {
  background: var(--green);
  color: var(--black);
}
/*------------------responsive grid*/

@media screen and (min-width: 300px) {
.card-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 600px) {
.card-columns {
    column-count: 3;
  }
}

@media screen and (min-width: 700px) {
.card-columns {
     column-count: 4;
  }
}


@media screen and (min-width: 800px) {
.card-columns {
     column-count: 5;
  }
}

@media screen and (min-width: 1000px) {
.card-columns {
     column-count: 6;
  }
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="all"]:checked ~ .filters [for="all"],
[value="younger"]:checked ~ .filters [for="younger"],
[value="older"]:checked ~ .filters [for="older"],
[value="video"]:checked ~ .filters [for="video"] {
  background: var(--green);
  color: var(--black);
}

[value="all"]:checked ~ .posts [data-category] {
  display: inline-block;
}

[value="youger"]:checked ~ .posts .post:not([data-category~="younger"]),
[value="older"]:checked ~ .posts .post:not([data-category~="older"]),
[value="video"]:checked ~ .posts .post:not([data-category~="video"]) {
  display: none;
}




/*-- Sticky Menu --- code adapted from https://codepen.io/rpsthecoder/pen/zGYXEX --*/
#sticky {
  position: sticky !important;
  position: -webkit-sticky;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

#sticky-alert-sm,
#sticky-alert-lg {
  position: sticky !important;
  position: -webkit-sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#sticky-alert-sm {
  top: 4em;
}

.non-sticky,
#wrapper {
  margin: auto;
}
#wrapper {
  height: 100%;
}

/*------------------footer*/
footer {  
    background: transparent;
}

footer a {
    font-family: "OSPDINDIN", sans-serif;
    color: #fff;

}

@media screen and (min-width: 768px) {
footer {
    padding-bottom: 100px;
  }
}
/*------------------donate btn*/
.btn-warning-donate,  .btn-warning-donate a { 
    text-decoration: none;
    font-family: "OSPDINDIN", sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
}

.btn-warning-donate:hover,  .btn-warning-donate a:hover {
    text-decoration: none;
    font-family: "OSPDINDIN", sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #333333;
    color: #f7a71c;
    border: 0;
    text-decoration-line: none;
}