/* Text-styling */
.heading {
  font-family: "OSPDINDIN", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 52px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  font-family: "OSPDINDIN", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 23px;
  text-decoration: none;
  text-transform: uppercase;
}

.lato {
  font-family: "LatoRegular", sans-serif;
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}

.card-text {
     font-family: "LatoRegular", sans-serif;
  font-size: 10px;
    background: #333333;
    color: #fff;
    line-height: 1;
}
/*------------------hovers----*/

a.hover_red:hover {
  color: #ff3333 !important;
}
a.hover_blue:hover {
  color: #0ebde8 !important;
}
a.hover_green:hover {
  color: #33cc99 !important;
}
a.hover_orange:hover {
  color: #f7a71c !important;
}
a.hover_purple:hover {
  color: #6a42d0 !important;
}
a.hover_grey:hover {
  color: #aaaaaa !important;
}

/*------------------backgrounds----*/
.grey {
  background: #333333 !important;
}

.black {
  background: #000;
}

.red {
  background: #ff3333;
}

.white {
  background: #fff !important;
}


/*------------------Top----sourced from littleangeltheatre.com------*/

#desk-main-menu {
  font-family: "ospdindin", sans-serif;
  text-transform: uppercase;
}

.top {
  background: #555555;
  width: 100vw;
  height: 315px;
  position: relative;
  padding: 20px;
  text-transform: uppercase;
}
.top .latLogo {
  position: absolute;
  top: 31px;
  left: 31px;
}
.top ul {
  margin: 0px 0px;
  padding: 0px 0px;
  position: absolute;
  top: 30px;
  left: 271px;
}
.top ul li {
  list-style: none;
  padding: 1px 0px 2px 0;
  margin: 0px 0px;
}
.top ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  line-height: 1;
}

.top-links {
  width: 199px;
  height: 253px;
  position: absolute;
  top: 0px;
  right: 31px;
}
a.book-tickets {
  position: absolute;
  top: 38px;
  right: 0px;
}
a.join-mailing-list {
  position: absolute;
  top: 161px;
  right: 0px;
}
a.donate-to-little {
  position: absolute;
  top: 101px;
  right: 0px;
  font-family: "ospdindin";
  font-size: 31px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
a.diary {
  position: absolute;
  top: 104px;
  left: 0px;
}
a.facebook {
  position: absolute;
  top: 189px;
  left: 0px;
}
a.twitter {
  position: absolute;
  top: 189px;
  left: 53px;
}
a.youtube {
  position: absolute;
  top: 189px;
  left: 105px;
}
a.instagram {
  position: absolute;
  top: 189px;
  right: 1px;
}

a.calendar-top-link {
  position: absolute;
  font-size: 57px;
  line-height: 52px;
  color: #fff;
  font-family: "ospdindin";
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 2px 10px;
}

.top-links strong {
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 199px;
}
.top-links strong a {
  font-family: "ospdindin";
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-weight: normal;
  letter-spacing: 0.6px;
}

.top-links .book-tickets.calendar-top-link:hover {
  opacity: 0.7;
}

.top-links .join-mailing-list:hover {
  opacity: 0.7;
}

.top-links a.facebook:hover,
.top-links a.twitter:hover,
.top-links a.youtube:hover,
.top-links a.instagram:hover {
  opacity: 0.7;
}
/*----end of sourced code----*/
.bar {
  height: 12px;
  width: auto;
  background: #fff;
  position: relative;
  top: 250px;
  padding-right: 30px;
  background: #fff;
  margin-left: 250px;
  margin-right: 15px;
}


/*------------------donate overlay*/

/*------------------jumbotrons*/

/*------------------modal*/

/*------------------scroll - code modified from https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585 --*/


:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  grid-template-rows: minmax(150px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.5 * var(--gutter));
}

.hs:before,
.hs:after {
  content: "";
    width: 10px;
    
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * var(--gutter));
}

.app {
  width: 90%;
  height: 667px;
  overflow-y: scroll;
}


.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}



.card-body2 {
    min-height: 300px;
    min-width: 500px;
    margin-right: 5px;
}



/*------------------filterable CSS*/
#makes input[type="radio"] {
  position: absolute;
  left: -9999px;
}

#makes img{
    width: 100%;
}
:root {
  --black: #1a1a1a;
  --white: #fff;
  --green: #33cc99;
}
 
.filters {
  text-align: center;
  margin-bottom: 2rem;
}
 
.filters * {
  display: inline-block;
}
 
.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}
 
.filters label:hover {
  background: var(--green);
  color: var(--white);
}

:root {
  --black: #1a1a1a;
  --white: #fff;
  --green: #49b293;
}
 
.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}
 
.posts .post {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
 
.posts .post-title {
  font-size: 1.3rem;
}
 
.posts .post-title:hover {
  text-decoration: underline;
}
 
.posts figcaption {
  padding: 1rem;
}
 
.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: .75rem;
}
 
.posts .post-categories * {
  display: inline-block;
}
 
.posts .post-categories li {
  margin-bottom: 0.2rem;
}
 
.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  background: all 0.1s;
}
 
.posts .post-categories a:hover {
  background: var(--green);
  color: var(--white);
}
 
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (max-width: 650px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="younger"]:checked ~ .posts .post:not([data-category~="younger"]),
[value="older"]:checked ~ .posts .post:not([data-category~="older"])
 {
  display: none;
}
 
[value="All"]:checked ~ .filters [for="All"],
[value="CSS"]:checked ~ .filters [for="CSS"],
[value="JavaScript"]:checked ~ .filters [for="JavaScript"],
[value="jQuery"]:checked ~ .filters [for="jQuery"],
[value="WordPress"]:checked ~ .filters [for="WordPress"],
[value="Slider"]:checked ~ .filters [for="Slider"],
[value="fullPage.js"]:checked ~ .filters [for="fullPage.js"] {
  background: var(--green);
  color: var(--white);
}

/*------------------footer*/
footer {
  position: fixed;
  bottom: 0px;
}



/*------------------Horizontal scroll --*/
.scroll-box   {  display: flex;    overflow-x: auto;}

/*-- Sticky Menu --- code adapted from https://codepen.io/rpsthecoder/pen/zGYXEX --*/
#sticky {
  position: sticky!important;
  position: -webkit-sticky;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

.non-sticky,
#wrapper {
  margin: auto;

}
#wrapper {
  height: 100%;
}
